/* .banniere {
    background-image: url("img/banniere2.jpg");
    height: 295px;
    background-size: 100%;
    object-fit: contain;
 } */

 :root {
    /* colors */
    --night-blue: #010135;
    --middle-blue: #01528A;
    --soft-blue: #a229ff78;
    --total-white: #ffffff;
    --soft-brown: #C7BFAA;
}

body {
    background-color: var(--total-white);
}

.navbar {
    background-color: var(--soft-blue);
}

.card-img-top {
    height: 250px;
    object-fit: cover;

}

.banniere img {
    max-height: 300px;
    object-fit: cover;
}


