@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');


 :root {
    /* colors */
    --night-blue: #010135;
    --middle-blue: #01528A;
    --soft-blue: #a229ff78;
    --total-white: #ffffff;
    --soft-brown: #C7BFAA;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: var(--total-white);
}

.navbar {
    background-color: var(--soft-blue);
}

.card-img-top {
    height: 250px;
    object-fit: cover;

}

.banniere img {
    max-height: 300px;
    object-fit: cover;
}


