{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block body %}
    <h1>Modifier le Trick</h1>

    <p>Met la photo qui présentera ton article</p>

    {{ include('trick/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('trick_index') }}">Revenir à la liste de tricks</a>

    {{ include('trick/_delete_form.html.twig') }}

{% endblock %}
