{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}
    <h1 class='mx-4'>Fais découvrir un nouveau Trick:</h1>

    {{ include('trick/_form.html.twig') }}

{% endblock %}
